/* ---------- SERVIÇOS ---------- */
/* -------------------- Pedir Toalhas -------------------- */
.mt-30{
    margin-top: 90px !important;
    margin-left: -23px !important;
}

div#coluna {
    width: 360px;
    height: 230px;
    margin-top: 30px;

    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: -0.3px;

    color: #FFFFFF;

    background: linear-gradient(120.32deg, rgba(104, 68, 238, 0.8) 0%, #6240DE 100%);
    border-radius: 20px;
}

div.col-12 p {
    margin-left: 44px;
    margin-top: -30px;

    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}

div.col-12 img#icon-grande {
    margin-left: 4px;
    margin-top: 16px;
}

/* ---------- Grupo 1 ---------- */
div.container {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

div#selecionar-tamanho {
    left: 48px;
    margin-top: 30px;
}

div#coluna button {
    margin-top: -5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

hr#linha1 {
    margin-top: 10px;
    border-top: 1px solid #f9f9f9;
}

/* ---------- Buttons - Tirar o Background ---------- */
#selecionar1:hover,
#selecionar1:focus,
#selecionar1:active {
    background-color: transparent !important;
    color: #fff;
}

#selecionar2:hover,
#selecionar2:focus,
#selecionar2:active {
    background-color: transparent !important;
    color: #fff;
}

#adicionar:hover,
#adicionar:focus,
#adicionar:active {
    background-color: transparent !important;
    color: #fff;
    border: transparent !important;
    box-shadow: 0 0 0 0rem rgba(248, 249, 250, 0.5);
}

#adicionar2:hover,
#adicionar2:focus,
#adicionar2:active {
    background-color: transparent !important;
    color: #fff;
    border: transparent !important;
    box-shadow: 0 0 0 0rem rgba(248, 249, 250, 0.5);
}

#fazer-pedido:hover,
#fazer-pedido:focus,
#fazer-pedido:active {
    background-color: transparent !important;
    color: #000;
}

#fazer-pedido2:hover,
#fazer-pedido2:focus,
#fazer-pedido2:active {
    background-color: transparent !important;
    color: #000;
}

#option1-tamanho:hover,
#option1-tamanho:focus,
#option1-tamanho:active {
    background-color: transparent !important;
    color: #fff;
}

#option2-tamanho:hover,
#option2-tamanho:focus,
#option2-tamanho:active {
    background-color: transparent !important;
    color: #fff;
}

#option1-quantidade:hover,
#option1-quantidade:focus,
#option1-quantidade:active {
    background-color: transparent !important;
    color: #fff;
}

#option2-quantidade:hover,
#option2-quantidade:focus,
#option2-quantidade:active {
    background-color: transparent !important;
    color: #fff;
}

/* ---------- Grupo 2 ---------- */
div#grupo2 {
    position: absolute;
    width: 332px;
    height: 25px;
    left: 48px;
    top: 314px;
}

div#grupo2 p {
    position: absolute;
    width: 168px;
    height: 24px;
    left: -30px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

#box2 {
    box-sizing: border-box;

    position: absolute;
    margin-left: 170px;
    padding-left: 53px;

    border: 1px solid #f9f9f9;
    border-radius: 5px;
}

p#box1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/* ---------- Button Adicionar ---------- */
div#adicionar {
    position: absolute;
    width: 101px;
    height: 24px;
    left: 20px;
    top: 380px;
}

div#adicionar button {
    position: absolute;
    padding-left: 45px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: none;
}

div#adicionar button img {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 18px;
    top: 6px;
}

/* ---------- Button Fazer Pedido ---------- */
button#fazer-pedido {
    width: 300px;
    height: 50px;
    margin-left: 25px;
    margin-top: 70px !important;
}

/* ---------- Button Escolher Tamanho ---------- */
div#escolherTamanho {
    display: none;
}

div#background-escolher-tamanho-toalhas {
    position: absolute;

    width: 428px;
    height: 350px;
    left: 0px;
    top: 600px;

    background: linear-gradient(120.32deg, rgba(104, 68, 238, 0.8) 0%, #6240DE 100%);
    border-radius: 20px;

}

div#escolherTamanho p {
    position: absolute;
    width: 207px;
    height: 30px;
    left: 34px;
    top: 40px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    letter-spacing: -0.3px;

    color: #F9F9F9;
}

button#option1-tamanho {
    position: absolute;
    left: 135px;
    top: 100px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: none;
}

hr#linha3 {
    margin-left: 34px;
    margin-right: 34px;
    margin-top: 145px;
    border-top: 1px solid #f9f9f9;
}

button#option2-tamanho {
    position: absolute;
    left: 150px;
    top: 170px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: none;
}

/* ---------- Button Escolher Quantidade ---------- */
div#escolherQuantidade {
    display: none;
}

div#background-escolher-quantidade-toalhas {
    position: absolute;

    width: 428px;
    height: 350px;
    left: 0px;
    top: 600px;

    background: linear-gradient(120.32deg, rgba(104, 68, 238, 0.8) 0%, #6240DE 100%);
    border-radius: 20px;
}

div#escolherQuantidade p {
    position: absolute;
    width: 237px;
    height: 30px;
    left: 34px;
    top: 40px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    letter-spacing: -0.3px;

    color: #F9F9F9;
}

button#option1-quantidade {
    position: absolute;
    left: 185px;
    top: 100px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: none;
}

hr#linha3 {
    margin-left: 34px;
    margin-right: 34px;
    margin-top: 145px;
    border-top: 1px solid #f9f9f9;
}

button#option2-quantidade {
    position: absolute;
    left: 183px;
    top: 170px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: none;
}

/* ---------- Nova div Adicionada ---------- */
div#novo-pedido {
    top: 1000px;
}

/* ---------- Limpar Nova div Adicionada ---------- */
div#limpar img {
    height: 22px;

    margin-left: 283px;
    margin-top: -7px;
}

div#coluna-nova {
    width: 360px;
    height: 230px;
    margin-top: 37px;

    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: -0.3px;

    color: #FFFFFF;

    background: linear-gradient(120.32deg, rgba(104, 68, 238, 0.8) 0%, #6240DE 100%);
    border-radius: 20px;
}

div#coluna-nova button {
    margin-top: -5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/* ---------- Button Adicionar2 ---------- */
div#adicionar2 {
    position: absolute;
    width: 101px;
    height: 24px;
    left: 20px;
    top: 618px;
}

div#adicionar2 button {
    position: absolute;
    padding-left: 45px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: none;
}

div#adicionar2 button img {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 18px;
    top: 7px;
}

/* ---------- Button Fazer Pedido ---------- */
button#fazer-pedido2 {
    width: 300px;
    height: 50px;
    margin-left: 25px;
    margin-top: 50px !important;
}