div#pedido-registo {
    width: 360px;
    height: 80px;
    margin-top: 30px;

    background: linear-gradient(300.32deg, #00ACED 0%, rgba(58, 210, 255, 0.8) 100%);
    border-radius: 20px;
}

div#guardar-nome-servico p{
    margin-left: 58px;
    
    margin-bottom: -20px;
    padding-top: 14px;
}

div#guardar-hora-aqui p{
    font-weight: 400;
    font-size: 16px;

    margin-left: 58px;
}